h1{
	border-style: double;
	border-radius: 10px;
	background-color:  	 #000080;
	color: white;
	height: 80px;
}

.btn {
  background: #d934c0;
  background-image: -webkit-linear-gradient(top, #d934c0, #b82b2b);
  background-image: -moz-linear-gradient(top, #d934c0, #b82b2b);
  background-image: -ms-linear-gradient(top, #d934c0, #b82b2b);
  background-image: -o-linear-gradient(top, #d934c0, #b82b2b);
  background-image: linear-gradient(to bottom, #d934c0, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#bt{
  background: #d934c0;
  background-image: -webkit-linear-gradient(top,  #691ef5, #c223db);
  background-image: -moz-linear-gradient(top,  #691ef5, #c223db);
  background-image: -ms-linear-gradient(top,  #691ef5, #c223db);
  background-image: -o-linear-gradient(top,  #691ef5, #c223db);
  background-image: linear-gradient(to bottom, #691ef5, #c223db);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#bt:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #691ef5, #c223db);
  background-image: -moz-linear-gradient(top, #691ef5, #c223db);
  background-image: -ms-linear-gradient(top, #691ef5, #c223db);
  background-image: -o-linear-gradient(top, #691ef5, #c223db);
  background-image: linear-gradient(to bottom, #691ef5, #c223db);
  text-decoration: none;
}


